@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #222831;
}


.image-clickable {
  margin-right: auto;
}

.logo {
  font-size: x-large;
  margin-right: auto;
  text-decoration: none;
  line-height: 60px;
  padding: 0.5rem 1.5rem;
}

.logo img{
  width: 30px;
  margin-right: 12px;
}
